/* =============
    Calendar
============= */
#index-left{

    h1{
        padding-bottom: 24px;
    }

    #index-quote{
        padding-left: 16px;
    }

    /* Reset default list styles */
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    /* Center the navigation bar horizontally */
    nav {
      text-align: center;
    }
    
    /* Style the navigation bar links */
    nav ul li {
      display: inline-block;
      margin-right: 20px; /* Add spacing between menu items */
    }
    
    /* Highlight the current page link in black */
    nav ul li a.active {
      color: black;
      font-weight: bold;
    }
}

#main-content-right{
    img{
        width:100%;

        
    }
}