/* =============
    Updates
============= */
#index-left h1 {
  padding-bottom: 24px;
}
#index-left #index-quote {
  padding-left: 16px;
}
#index-left ul {
  list-style: bullet;
}
#index-left p {
  padding-bottom: 16px;
}
#index-left a:link, #index-left a:visited {
  color: var(--orange);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--white);
}

#main-content-right img {
  width: 100%;
}